.hover-bg-dark-70 {
  &:hover {
    background-color: rgba($dark, 0.7) !important;
  }
}
.hover-shadow {
  &:hover {
    box-shadow: 0px 0px 16px 8px $primary-700;
  }
}
.hover-translate-y {
  &:hover {
    transform: translateY(-4px);
  }
}
