.h-banner {
  height: 1775px; // 1879 - 104px
  @include media-breakpoint-up(md) {
    height: 1035px; // 1139 - 104px
  }
  @include media-breakpoint-up(xl) {
    height: 880px;
  }
}
.w-circle {
  width: 196px;
}
.h-intro {
  height: 351px;
  @include media-breakpoint-up(md) {
    height: 560px;
  }
}

.h-40 {
  height: 40px;
}
.h-351 {
  height: 351px;
}
@include media-breakpoint-up(xl) {
  .h-xl-676 {
    height: 676px;
  }
  .h-xl-580 {
    height: 580px;
  }
}
.deco {
  &-circle-sm {
    width: 12px;
    height: 12px;
    @include media-breakpoint-down(lg) {
      width: 8px;
      height: 8px;
    }
  }
  &-line {
    width: 124px;
    height: 12px;
    @include media-breakpoint-down(lg) {
      height: 8px;
    }
  }
}
