.h-banner {
  height: 880px;
}
.h-intro {
  height: 351px;
  @include media-breakpoint-up(md) {
    height: 560px;
  }
}
.h-40 {
  height: 40px;
}
.deco {
  &-circle-sm {
    width: 12px;
    height: 12px;
    @include media-breakpoint-down(lg) {
      width: 8px;
      height: 8px;
    }
  }
  &-line {
    width: 124px;
    height: 12px;
    @include media-breakpoint-down(lg) {
      height: 8px;
    }
  }
}
