.h-banner {
  height: 1775px; // 1879 - 104px
  @include media-breakpoint-up(md) {
    height: 1035px; // 1139 - 104px
  }
  @include media-breakpoint-up(xl) {
    height: 880px;
  }
}
.h-about-banner {
  height: 280px;
}
.h-about-future {
  height: 147px;
  @include media-breakpoint-up(md) {
    height: 315px;
  }
}
.w-circle {
  width: 196px;
}
.h-intro {
  height: 351px;
  @include media-breakpoint-up(md) {
    height: 560px;
  }
}

.h-40 {
  height: 40px;
}
.h-351 {
  height: 351px;
}
@include media-breakpoint-up(xl) {
  .h-xl-676 {
    height: 676px;
  }
  .h-xl-580 {
    height: 580px;
  }
}
