$utilities: map-merge(
  $utilities,
  (
    // 自訂
    "cursor":
      (
        property: cursor,
        class: cursor,
        responsive: true,
        values: pointer grab,
      ),
    // 新增響應式
    "font-size":
      (
        rfs: true,
        responsive: true,
        property: font-size,
        class: fs,
        values: $font-sizes,
      ),
    // 自訂
    "background-image":
      (
        property: background-image,
        class: bg,
        values: $bg-gradient,
      ),
    // 增加 500, 900 字重 & 響應式
    "font-weight":
      map-merge(
        map-get($utilities, "font-weight"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "font-weight"), "values"),
              (
                medium: $font-weight-medium,
                black: $font-weight-black,
              )
            ),
        )
      ),
    // 增加 透明色 & 響應式
    "border-color":
      map-merge(
        map-get($utilities, "border-color"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "border-color"), "values"),
              (
                transparent: transparent,
              )
            ),
        )
      ),
    // 增加 尺寸
    "border-width":
      map-merge(
        map-get($utilities, "border-width"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "border-width"), "values"),
              (
                12: 12px,
              )
            ),
        )
      ),
    // 自訂
    "letter-spacing":
      (
        property: letter-spacing,
        responsive: true,
        class: ls,
        values: $letter-spacing,
      ),
    // 增加響應式
    "border-end":
      (
        property: border-right,
        responsive: true,
        class: border-end,
        values: (
          null: var(--#{$prefix}border-width) var(--#{$prefix}border-style)
            var(--#{$prefix}border-color),
          0: 0,
        ),
      ),
    // 增加響應式
    "border-bottom":
      (
        property: border-bottom,
        responsive: true,
        class: border-bottom,
        values: (
          null: var(--#{$prefix}border-width) var(--#{$prefix}border-style)
            var(--#{$prefix}border-color),
          0: 0,
        ),
      ),
    // 增加響應式
    "border-top":
      (
        property: border-top,
        responsive: true,
        class: border-top,
        values: (
          null: var(--#{$prefix}border-width) var(--#{$prefix}border-style)
            var(--#{$prefix}border-color),
          0: 0,
        ),
      ),
    // 自訂
    "object-fit":
      (
        property: object-fit,
        class: of,
        values: cover contain,
      ),

    // 自訂
    "filter":
      (
        property: filter,
        class: filter,
        values: $filter,
      ),
    // 自訂
    "z-index":
      (
        property: z-index,
        class: zindex,
        values: (
          -1: -1,
          0: 0,
          1: 1,
          2: 2,
          3: 3,
        ),
      ),
    // 自訂
    "row-gap":
      (
        property: row-gap,
        responsive: true,
        class: row-gap,
        values: (
          4: 16px,
          6: 24px,
          8: 32px,
          16: 64px,
          26: 104px,
        ),
      ),
    // 自訂
    "border-style":
      (
        property: border-bottom-style,
        class: border-bottom-style,
        values: dotted,
      ),
    // 自訂
    "list-style-type":
      (
        property: list-style-type,
        class: list-style,
        values: decimal,
      ),
    // 增加 gap: 15px
    "gap":
      map-merge(
        map-get($utilities, "gap"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "gap"), "values"),
              (
                c-15: 15px,
              )
            ),
        )
      ),
    // 增加 響應式
    "position":
      map-merge(
        map-get($utilities, "position"),
        (
          responsive: true,
        )
      ),
    // 增加 響應式
    "translate-middle":
      map-merge(
        map-get($utilities, "translate-middle"),
        (
          responsive: true,
        )
      ),
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          responsive: true,
        )
      )
  )
);
