$utilities: map-merge(
  $utilities,
  (
    // 自訂
    "cursor":
      (
        property: cursor,
        class: cursor,
        responsive: true,
        values: pointer grab,
      ),
    // 新增響應式
    "font-size":
      (
        rfs: true,
        responsive: true,
        property: font-size,
        class: fs,
        values: $font-sizes,
      ),
    // 自訂
    "background-image":
      (
        property: background-image,
        class: bg,
        values: $bg-gradient,
      ),
    // 增加 500 字重
    "font-weight":
      map-merge(
        map-get($utilities, "font-weight"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "font-weight"), "values"),
              (
                medium: $font-weight-medium,
              )
            ),
        )
      ),
    "letter-spacing": (
      property: letter-spacing,
      responsive: true,
      class: ls,
      values: $letter-spacing,
    )
  )
);
