// Color system 6
$primary-100: #7000ff;
$primary-200: #11002d;
$primary-300: #6e01f8;
$primary-400: #380c7e;
$primary-500: #1f0f39;
$primary-600: #ad93cf; // index copyright
$primary-700: rgba(#8f00ff, 0.8); // index banner hover shadow
$primary-800: rgba(#b983ff, 0.7); // index banner border

$white: #ffffff;
$dark: #000000;
$light: #e9e2f3;
$gray-100: #828282;

$theme-colors: (
  "primary-100": #7000ff,
  "primary-300": #6e01f8,
  "primary-400": #380c7e,
  "primary-500": #1f0f39,
  "primary-600": #ad93cf,
  "white": $white,
  "dark": $dark,
  "light": #e9e2f3,
  "gray-100": #828282,
);

$primary-linear-100: linear-gradient(to bottom, $primary-100, $primary-200);
$primary-linear-200: linear-gradient(to right, $primary-100, $primary-200);

$primary-radial-100: radial-gradient(50% 50% at center, #28085c, $dark);
$primary-radial-200: radial-gradient(50% 50% at center, $dark, #28085c);

// custom map
$bg-gradient: (
  primary-linear-100: $primary-linear-100,
  primary-linear-200: $primary-linear-200,
  primary-radial-100: $primary-radial-100,
  primary-radial-200: $primary-radial-200,
);

// Options 333
$enable-rfs: false;

// Spacing 367
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 1.75,
  8: $spacer * 2,
  9: $spacer * 2.25,
  10: $spacer * 2.5,
  11: $spacer * 2.75,
  12: $spacer * 3,
  13: $spacer * 3.25,
  14: $spacer * 3.5,
  15: $spacer * 3.75,
  16: $spacer * 4,
  19: $spacer * 4.75,
  20: $spacer * 5,
  24: $spacer * 6,
  25: $spacer * 6.25,
  26: $spacer * 6.5,
  30: $spacer * 7.5,
  31: $spacer * 7.75,
  34: $spacer * 8.5,
  36: $spacer * 9,
  39: $spacer * 9.75,
  40: $spacer * 10,
  42: $spacer * 10.5,
  54: $spacer * 13.5,
  d-9: $spacer * 1.125,
  d-27: $spacer * 3.375,
  neg-8: $spacer * -2,
  neg-10: $spacer * -2.5,
);

// Body 397
$body-color: $white;

// Links 405
$link-color: $white;
$link-decoration: null;

// Paragraphs 418
$paragraph-margin-bottom: 0;

// Typography 537
$font-family-sans-serif: "Noto Sans TC", system-ui, -apple-system, "Segoe UI",
  Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-base: 1rem;
$font-sizes: (
  2: $font-size-base * 0.5,
  4: $font-size-base,
  5: $font-size-base * 1.25,
  6: $font-size-base * 1.5,
  8: $font-size-base * 2,
  10: $font-size-base * 2.5,
  11: $font-size-base * 2.75,
  12: $font-size-base * 3,
  16: $font-size-base * 4,
  20: $font-size-base * 5,
  24: $font-size-base * 6,
  32: $font-size-base * 8,
  100: $font-size-base * 25,
  d-7: $font-size-base * 0.875,
);

$headings-margin-bottom: 0;
$headings-font-weight: 700;
$headings-line-height: 1.5;

$font-weight-medium: 500;
$font-weight-black: 900;

// custom map
$letter-spacing: (
  10: 0.1em,
  30: 0.3em,
  100: 1em,
  130: 1.3em,
  250: 2.5em,
  vw-md: 0.7vw,
  vw-lg: 4vw,
);

// custom map
$filter: (
  blur-brightness: blur(8px) brightness(0.7),
);

// Buttons + Forms 713
$input-btn-focus-width: 0;

// Buttons 742
$btn-border-radius: 4px;
$btn-border-width: 0;
$btn-padding-y: 8px;

// Forms 793
$input-border-radius: 0;

$form-floating-height: 46px;
$form-floating-padding-x: 16px;
$form-floating-padding-y: 8px;

$form-check-padding-start: 0;

// Navbar 1082
$navbar-nav-link-padding-x: 20px;
$navbar-padding-y: 0;
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-brand-padding-y: 0;

// Pagination 1182
$pagination-padding-x: 16px;
$pagination-font-size: 24px;
$pagination-bg: transparent;
$pagination-border-width: 0;
$pagination-focus-bg: transparent;
$pagination-hover-bg: transparent;
$pagination-active-bg: transparent;

// Accordion 1254
$accordion-padding-x: 0;
$accordion-color: $primary-500;
$accordion-bg: transparent;

$accordion-button-active-bg: transparent;
$accordion-button-active-color: inherit;

// Modals 1387
$modal-inner-padding: 40px;
$modal-md: 635px;
$modal-dialog-margin: 28px;
