<footer class="container-xxl">
  <div class="row text-dark align-items-center py-10 py-md-12">
    <div class="col-md-5 mb-2 mb-md-0">
      <p class="en-font fs-8">ALPHABOX+</p>
      <p class="fw-bold ls-sm d-none d-md-block">Copyright © 2023 Hexschool.</p>
    </div>
    <div class="col-md-1 col-lg-2 text-md-center mb-2 mb-md-0">
      <span class="material-icons fs-20 animation-rotate"> emergency </span>
    </div>
    <div class="col-md-6 col-lg-5 mb-2 mb-md-0">
      <ul
        class="d-flex flex-column flex-sm-row flex fw-bold gap-2 gap-md-6 justify-content-md-end"
      >
        <li><a href="##" class="text-dark hover-underline">關於我們</a></li>
        <li><a href="##" class="text-dark hover-underline">產品資訊</a></li>
        <li><a href="##" class="text-dark hover-underline">常見問題</a></li>
        <li><a href="##" class="text-dark hover-underline">隱私政策</a></li>
      </ul>
    </div>
    <p class="fw-bold ls-sm d-md-none">Copyright © 2023 Hexschool.</p>
  </div>
</footer>
