<header>
  <nav class="navbar navbar-expand-lg bg-primary-100">
    <div
      class="<%= borderBottom %> w-100 navbar-shadow position-relative zindex-3"
    >
      <div
        class="container-xxl d-flex justify-content-between align-items-center text-center py-3 py-lg-4"
      >
        <a
          class="navbar-brand en-font fs-6 fs-lg-8 text-white"
          href="index.html"
          >ALPHABOX+</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="material-icons text-white fs-11"> menu </span>
        </button>
        <!-- pc navbar start -->
        <div
          class="navbar-collapse flex-grow-0 fw-medium d-none d-lg-block"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="product-diane.html">產品</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hover-primary-600" href="#">關於我們</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="news.html">最新消息</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="faq.html">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">聯絡我們</a>
            </li>
          </ul>
        </div>
        <div class="navbar-collapse flex-grow-0 fw-medium d-none d-lg-block">
          <ul class="navbar-nav align-items-center">
            <li class="nav-item">
              <a class="nav-link px-3" href="signup.html">註冊</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3 me-0 me-lg-5" href="login.html">登入</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link btn btn-white px-4 d-flex align-items-center hover-bg-primary-600"
                href="#"
                ><img
                  src="/assets/images/icon/point_scan.png"
                  alt="訂閱"
                  class="me-1"
                />訂閱</a
              >
            </li>
          </ul>
        </div>
        <!-- pc navbar end -->
      </div>
    </div>
    <!-- mobile navbar start -->
    <div
      class="<%= navbarPosition %> collapse flex-grow-0 fw-medium bg-primary-linear-100 d-lg-none w-100 text-center position-absolute zindex-2"
      id="navbarNav"
    >
      <ul class="navbar-nav gap-1 py-8">
        <li class="nav-item">
          <a class="nav-link py-2" href="product-diane.html">產品</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-2" href="#">關於我們</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-2" href="news.html">最新消息</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-2" href="faq.html">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-2" href="#">聯絡我們</a>
        </li>
        <li class="nav-item d-lg-none">
          <a class="nav-link py-2 px-3" href="signup.html">註冊</a>
        </li>
        <li class="nav-item d-lg-none">
          <a class="nav-link py-2 px-3 me-0 me-lg-5" href="login.html">登入</a>
        </li>
        <li class="nav-item d-lg-none">
          <a class="nav-link btn btn-white px-4 hover-bg-primary-600" href="#"
            ><img
              src="/assets/images/icon/point_scan.png"
              alt="訂閱"
              class="me-1 align-bottom"
            />訂閱</a
          >
        </li>
      </ul>
    </div>
    <!-- mobile navbar end -->
  </nav>
</header>
