.btn-pill {
  border-radius: 50rem;
  border: 1px solid $white;
  &:hover {
    background: $white;
    color: $primary-100;
  }
}
:not(.btn-check) + .btn-pill:active {
  background: $white;
  color: $black;
}
.btn-white {
  &:hover {
    background: $primary-100;
    color: $white;
    path {
      fill: $white;
    }
  }
}
