.swiper-scrollbar-drag {
  height: 4px;
  border-radius: 50rem;
  background-color: $white;
}
.swiper-scrollbar {
  height: 4px;
  border-radius: 50rem;
  background-color: rgba($white, 0.2);
}
.swiper-slide.card {
  height: 351px;
  display: flex;
  @include media-breakpoint-up(md) {
    height: 416px;
  }
}
.swiper-arrow {
  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
    position: initial;
    margin-top: 0;
    width: auto;
    height: auto;
    &::after {
      content: "";
    }
  }
}
.swiper-disable::after {
  @include media-breakpoint-down(md) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}
.bg-slide-swiper .swiper-wrapper,
.bg-slide-swiper-reverse .swiper-wrapper {
  transition-timing-function: linear;
}
.swiper-product {
  .swiper-button-next,
  .swiper-button-prev {
    width: auto;
    height: auto;
    &::after {
      content: "";
    }
    &:hover {
      path {
        fill: $primary-100;
      }
    }
  }
}
