.swiper-scrollbar-drag {
  height: 4px;
  border-radius: 50rem;
  background-color: $white;
}
.swiper-scrollbar {
  height: 4px;
  border-radius: 50rem;
  background-color: rgba($white, 0.2);
}
.swiper-slide.card {
  height: 351px;
  display: flex;
  @include media-breakpoint-up(md) {
    height: 416px;
  }
}
.swiper-wrapper .swiper-slide {
  overflow: "auto";
  -webkit-overflow-scrolling: touch;
}
