<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>ALPHABOX+</title>
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header',{borderBottom:"border-bottom",
    navbarPosition:"navbar-mobile-index"}); -%>
    <!-- banner -->
    <section class="h-banner bg-banner position-relative zindex-1">
      <div class="container-xxxl pt-7 pt-lg-14 overflow-hidden">
        <div class="row mb-8 mb-md-6">
          <div class="col-lg-4 col-xl-3 align-items-end d-none d-lg-flex">
            <div class="border-bottom w-100">
              <a href="##" class="pb-2 fw-bold"
                >最新消息！新版本 v15.4 釋出，搶先體驗！</a
              >
            </div>
          </div>
          <div class="col-lg-4 col-xl-3 order-lg-1 mb-8 mb-lg-0">
            <div class="border-top mb-0 mb-lg-36">
              <p class="mt-1 fw-bold ls-10">ALPHABOX+ STUDIO</p>
            </div>
            <p class="ls-10 fw-medium text-primary-600 d-none d-lg-block">
              Copyright © 2023 Hexschool.
            </p>
          </div>
          <div
            class="col-lg-4 col-xl-6 d-flex justify-content-center order-lg-0"
          >
            <img
              src="../assets/images/circle.png"
              alt="ALPHABOX+"
              class="w-circle animation-rotate"
            />
          </div>
          <div class="col-12 order-lg-2 text-center mt-8 mt-md-14">
            <h1 class="en-font fs-5 fs-md-8">
              <span class="ls-130 ls-md-vw-lg fw-normal">ALPHABOX</span> +
            </h1>
            <p class="fw-bold ls-30 ls-md-vw-md">
              擁抱未來科技，專屬您的3D立體投影陪伴機器人
            </p>
          </div>
        </div>
        <div
          class="row row-cols-1 row-cols-md-2 row-cols-xl-4 gx-8 row-gap-4 row-gap-md-8 align-items-end translate-y"
        >
          <div class="col">
            <div
              class="position-relative hover-shadow hover-translate-y transition-3"
            >
              <picture>
                <source
                  srcset="../assets/images/diane.png"
                  media="(min-width:1200px)"
                />
                <img
                  src="../assets/images/diane_square1.png"
                  alt="Diane"
                  class="h-351 h-xl-676 w-100 of-cover"
                />
              </picture>
              <h2
                class="position-absolute top-0 start-50 translate-middle-x fs-8 en-font fw-normal pt-4"
              >
                Diane
              </h2>
              <a href="##" class="stretched-link d-block"></a>
            </div>
          </div>
          <div class="col">
            <div
              class="position-relative hover-shadow hover-translate-y transition-3"
            >
              <picture>
                <source
                  srcset="../assets/images/felix.png"
                  media="(min-width:1200px)"
                />
                <img
                  src="../assets/images/felix_square1.png"
                  alt="Felix"
                  class="h-351 h-xl-580 w-100 of-cover"
                />
              </picture>
              <h2
                class="position-absolute top-0 start-50 translate-middle-x fs-8 en-font fw-normal pt-4"
              >
                Felix
              </h2>
              <a href="##" class="stretched-link d-block"></a>
            </div>
          </div>
          <div class="col">
            <div
              class="position-relative hover-shadow hover-translate-y transition-3"
            >
              <picture>
                <source
                  srcset="../assets/images/karina.png"
                  media="(min-width:1200px)"
                />
                <img
                  src="../assets/images/karina_square1.png"
                  alt="Karina"
                  class="h-351 h-xl-580 w-100 of-cover"
                />
              </picture>
              <h2
                class="position-absolute top-0 start-50 translate-middle-x fs-8 en-font fw-normal pt-4"
              >
                Karina
              </h2>
              <a href="##" class="stretched-link d-block"></a>
            </div>
          </div>
          <div class="col">
            <div
              class="position-relative hover-shadow hover-translate-y transition-3"
            >
              <picture>
                <source
                  srcset="../assets/images/vito.png"
                  media="(min-width:1200px)"
                />
                <img
                  src="../assets/images/vito_square1.png"
                  alt="Vito"
                  class="h-351 h-xl-676 w-100 of-cover"
                />
              </picture>
              <h2
                class="position-absolute top-0 start-50 translate-middle-x fs-8 en-font fw-normal pt-4"
              >
                Vito
              </h2>
              <a href="##" class="stretched-link d-block"></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- intro -->
    <section
      class="bg-primary-radial-100 position-relative overflow-hidden pt-34 pt-md-36 pb-15 pb-md-13"
    >
      <img
        src="../assets/images/carousel_mobile.png"
        alt="立體投影技術"
        class="position-absolute top-0 col-md-10 col-lg-6 h-100 of-cover filter-blur-brightness"
      />
      <div class="position-relative zindex-1">
        <div class="container-xxxl">
          <div class="swiper bg-slide-swiper h-40 mb-4 mb-md-2">
            <div class="swiper-wrapper">
              <div class="swiper-slide bg-slide"></div>
              <div class="swiper-slide bg-slide"></div>
              <div class="swiper-slide bg-slide"></div>
              <div class="swiper-slide bg-slide"></div>
              <div class="swiper-slide bg-slide"></div>
            </div>
          </div>
          <!-- <div class="bg-slide w-100 h-40 mb-4 mb-md-2"></div> -->
          <h2 class="fs-6 fs-md-12 ls-100 mb-2 mb-md-3">什麼是</h2>
          <h2 class="fs-6 fs-md-12 ls-100">ALPHABOX+</h2>
        </div>
        <div class="border-top mb-4 mb-md-8"></div>
        <div class="container-xxxl">
          <div class="row gx-8 justify-content-between align-items-center mb-8">
            <div class="swiper-arrow col-1 d-none d-md-block">
              <div class="swiper-button-prev">
                <img
                  src="../assets/images/icon/intro-arrow.png"
                  alt="prev"
                  class="scale-neg-1"
                />
              </div>
            </div>
            <div class="col-md-9">
              <div class="swiper intro-swiper h-intro">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div
                      class="position-relative h-100 d-flex justify-content-md-end align-items-end align-items-md-center"
                    >
                      <picture class="position-absolute top-0 h-100 w-100">
                        <source
                          srcset="../assets/images/carousel.png"
                          media="(min-width:768px)"
                        />
                        <img
                          src="../assets/images/carousel_mobile.png"
                          alt="立體投影技術"
                          class="of-cover h-100 w-100"
                        />
                      </picture>
                      <div
                        class="position-relative text-md-end px-4 px-md-10 pb-4 pb-md-0"
                      >
                        <p class="en-font fs-16 fs-md-24">01</p>
                        <h3
                          class="fs-6 fs-md-8 ls-100 me-md-neg-8 mb-2 mb-md-4 fw-bold"
                        >
                          立體投影技術
                        </h3>
                        <p class="fw-bold">
                          透過高科技立體投影技術，讓您感受真實的科技世界。
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div
                      class="position-relative h-100 d-flex justify-content-md-end align-items-end align-items-md-center"
                    >
                      <picture class="position-absolute top-0 h-100 w-100">
                        <source
                          srcset="../assets/images/about_us.png"
                          media="(min-width:768px)"
                        />
                        <img
                          src="../assets/images/about_us.png"
                          alt="立體投影技術"
                          class="of-cover h-100 w-100"
                        />
                      </picture>
                      <div
                        class="position-relative text-md-end px-4 px-md-10 pb-4 pb-md-0"
                      >
                        <p class="en-font fs-16 fs-md-24">02</p>
                        <h3
                          class="fs-6 fs-md-8 ls-100 me-md-neg-8 mb-2 mb-md-4 fw-bold"
                        >
                          立體投影技術
                        </h3>
                        <p class="fw-bold">
                          透過高科技立體投影技術，讓您感受真實的科技世界。
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div
                      class="position-relative h-100 d-flex justify-content-md-end align-items-end align-items-md-center"
                    >
                      <picture class="position-absolute top-0 h-100 w-100">
                        <source
                          srcset="../assets/images/screen.png"
                          media="(min-width:768px)"
                        />
                        <img
                          src="../assets/images/screen.png"
                          alt="立體投影技術"
                          class="of-cover h-100 w-100"
                        />
                      </picture>
                      <div
                        class="position-relative text-md-end px-4 px-md-10 pb-4 pb-md-0"
                      >
                        <p class="en-font fs-16 fs-md-24">03</p>
                        <h3
                          class="fs-6 fs-md-8 ls-100 me-md-neg-8 mb-2 mb-md-4 fw-bold"
                        >
                          立體投影技術
                        </h3>
                        <p class="fw-bold">
                          透過高科技立體投影技術，讓您感受真實的科技世界。
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-arrow col-1 d-none d-md-block">
              <div class="swiper-button-next">
                <img src="../assets/images/icon/intro-arrow.png" alt="prev" />
              </div>
            </div>
          </div>
          <div class="swiper bg-slide-swiper-reverse h-40">
            <div class="swiper-wrapper">
              <div class="swiper-slide bg-slide"></div>
              <div class="swiper-slide bg-slide"></div>
              <div class="swiper-slide bg-slide"></div>
              <div class="swiper-slide bg-slide"></div>
              <div class="swiper-slide bg-slide"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- news -->
    <section class="bg-primary-radial-100">
      <div class="container-xxl pt-15 pt-md-40 pb-20 pb-md-10 overflow-hidden">
        <h2
          class="fs-10 fs-md-12 ls-100 mb-8 mb-md-10 text-center text-md-start me-neg-10 me-md-0"
        >
          最新消息
        </h2>
        <div class="row fw-bold gx-0 mb-10 mb-md-19">
          <div class="col-12 position-relative hover-icon-rotate">
            <div class="px-4 py-8 py-mb-10 border-top border-bottom">
              <p class="d-flex align-items-center ls-100 mb-2">
                <span class="deco-icon material-icons fs-6 me-4">
                  emergency </span
                >2023.06.30
              </p>
              <h3 class="fs-5 ls-100 mb-3">產品升級公告</h3>
              <div class="row">
                <div class="col-md-9 mb-4 mb-md-0">
                  <p>
                    榮幸地宣布，ALPHABOX+
                    已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
                  </p>
                </div>
                <div class="col-md-3">
                  <img
                    src="/assets/images/icon/news-arrow.png"
                    alt="arrow"
                    class="d-block ms-md-auto"
                  />
                </div>
              </div>
            </div>
            <a href="##" class="stretched-link d-block"></a>
          </div>
          <div
            class="col-md-6 position-relative d-flex flex-column hover-icon-rotate"
          >
            <div
              class="px-4 py-8 py-mb-10 border-bottom border-end-md flex-grow-1 d-flex flex-column"
            >
              <p class="d-flex align-items-center ls-100 mb-2">
                <span class="deco-icon material-icons fs-6 me-4">
                  emergency </span
                >2023.06.30
              </p>
              <h3 class="fs-5 ls-100 mb-3">限時優惠活動</h3>
              <p class="mb-4 flex-grow-1">
                為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+
                的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！
              </p>
              <div>
                <img src="/assets/images/icon/news-arrow-sm.png" alt="arrow" />
              </div>
            </div>
            <a href="##" class="stretched-link d-block"></a>
          </div>
          <div
            class="col-md-6 position-relative d-flex flex-column hover-icon-rotate"
          >
            <div
              class="px-4 py-8 py-mb-10 border-bottom flex-grow-1 d-flex flex-column"
            >
              <p class="d-flex align-items-center ls-100 mb-2">
                <span class="deco-icon material-icons fs-6 me-4">
                  emergency </span
                >2023.04.18
              </p>
              <h3 class="fs-5 ls-100 mb-3">新功能上線</h3>
              <p class="mb-4 flex-grow-1">
                為使您的 ALPHABOX+
                更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。
              </p>
              <div>
                <img src="/assets/images/icon/news-arrow-sm.png" alt="arrow" />
              </div>
            </div>
            <a href="##" class="stretched-link d-block"></a>
          </div>
        </div>
        <div class="d-flex justify-content-center mb-0 mb-md-24">
          <a href="##" class="position-relative hover-scale transition-3">
            <img
              src="/assets/images/circle-sm.png"
              alt="查看更多"
              class="animation-rotate"
            />
            <span class="position-absolute top-50 start-50 translate-middle">
              查看更多
            </span>
          </a>
        </div>
        <p class="fw-bold text-end d-none d-md-block">
          為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料
        </p>
      </div>
    </section>
    <!-- comments -->
    <section
      class="bg-primary-radial-200 pt-15 pt-md-40 pb-20 pb-md-10 overflow-hidden position-relative"
    >
      <div class="container-xxl fw-bold">
        <div class="row align-items-center mb-4 mb-lg-6">
          <div class="col-lg-5">
            <h2 class="fs-10 fs-md-12 ls-100 mb-4">使用分享</h2>
          </div>
          <div class="col-12 mb-6 mb-lg-10 order-lg-1">
            <div class="d-flex gap-4">
              <p>01</p>
              <img src="/assets/images/icon/horizontal_rule.png" alt="-" />
              <p>04</p>
            </div>
          </div>
          <div class="col-lg-7 mb-6 mb-lg-0 order-lg-0">
            <p>展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
          </div>
          <div class="col-12 order-lg-2">
            <span class="material-icons fs-20 animation-rotate">
              emergency
            </span>
          </div>
        </div>
      </div>
      <div class="overflow-hidden position-relative">
        <div class="container-xxl fw-bold swiper-disable">
          <!-- Swiper -->
          <div
            class="swiper comment-swiper overflow-visible mb-0 mb-md-9 cursor-grab"
          >
            <div class="swiper-wrapper card-group">
              <div class="swiper-slide card">
                <div class="card-header">
                  <p>Zona</p>
                  <span class="material-icons fs-2"> fiber_manual_record </span>
                  <p>Taipei</p>
                </div>
                <p class="card-body">
                  ALPHABOX+
                  真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                </p>
                <div class="card-footer">
                  <span class="material-icons fs-4"> circle</span>
                  <span class="material-icons fs-4"> circle</span>
                  <p>ALPHABOX+ Dianne</p>
                </div>
              </div>
              <div class="swiper-slide card">
                <div class="card-header">
                  <p>Lin</p>
                  <span class="material-icons fs-2"> fiber_manual_record </span>
                  <p>Chiayi</p>
                </div>
                <p class="card-body">
                  非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
                </p>
                <div class="card-footer">
                  <span class="material-icons fs-4"> circle </span>
                  <span class="material-icons fs-4"> circle</span>
                  <p>ALPHABOX+ Felix</p>
                </div>
              </div>
              <div class="swiper-slide card">
                <div class="card-header">
                  <p>云</p>
                  <span class="material-icons fs-2"> fiber_manual_record </span>
                  <p>Taipei</p>
                </div>
                <p class="card-body">
                  我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見
                  ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
                </p>
                <div class="card-footer">
                  <span class="material-icons fs-4"> circle </span>
                  <span class="material-icons fs-4"> circle</span>
                  <p>ALPHABOX+ Dianne</p>
                </div>
              </div>
              <div class="swiper-slide card">
                <div class="card-header">
                  <p>Zichi</p>
                  <span class="material-icons fs-2"> fiber_manual_record </span>
                  <p>Kaohsiung</p>
                </div>
                <p class="card-body">
                  讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
                </p>
                <div class="card-footer">
                  <span class="material-icons fs-4"> circle </span>
                  <span class="material-icons fs-4"> circle</span>
                  <p>ALPHABOX+ Vito</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Swiper scroll-bar -->
          <div class="row align-items-center mb-0 mb-md-31 d-none d-md-flex">
            <div class="col-8">
              <div class="swiper-scrollbar position-static"></div>
            </div>
            <div class="col-4">
              <p>SCROLL</p>
            </div>
          </div>
          <p class="d-none d-md-block">
            若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。
          </p>
        </div>
      </div>
      <p
        class="ps-brand en-font fs-32 fs-md-100 position-absolute start-50 translate-middle-x"
        style="color: #ffffff0a"
      >
        ALPHABOX+
      </p>
    </section>
    <!-- contact -->
    <section class="bg-primary-500">
      <div class="container-xxl py-15 py-lg-36">
        <div class="row fw-bold">
          <div class="col-lg-5 mb-6 mb-lg-0">
            <h2 class="fs-10 fs-md-12 ls-100 mb-3 mb-md-5">聯絡我們</h2>
            <div class="d-flex mb-9 mb-md-d-27">
              <div class="deco-circle-sm bg-white rounded-circle me-2"></div>
              <div class="deco-line bg-white rounded-pill"></div>
            </div>
            <p class="mb-1">讓科技成為您的最佳夥伴</p>
            <p>立即體驗神奇功能並享限時優惠！</p>
          </div>
          <div class="col-lg-7">
            <span class="material-icons fs-20 mb-4 animation-rotate">
              emergency
            </span>
            <div class="form-floating mb-4">
              <input
                type="email"
                class="form-control text-dark"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label
                for="floatingInput"
                class="text-primary-500 fw-bold fs-4 fs-md-5"
                >EMAIL</label
              >
            </div>
            <div class="form-floating mb-4">
              <textarea
                type="text"
                class="form-comments form-control text-dark"
                id="floatingComments"
                placeholder="Comments"
              ></textarea>
              <label
                for="floatingComments"
                class="text-primary-500 fw-bold fs-4 fs-md-5"
                >COMMENTS</label
              >
            </div>
          </div>
          <div class="col-lg-4 ms-auto">
            <a href="##" type="submit" class="btn btn-primary-300 d-block">
              <div
                class="d-flex align-items-center justify-content-center text-center"
              >
                <img
                  src="/assets/images/icon/point_scan-white.png"
                  alt="送出"
                  class="me-1"
                />送出
              </div></a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- product -->
    <ol class="bg-primary-radial-100 d-flex flex-wrap">
      <li class="col-6 col-md-3">
        <div
          class="bg-diane bg-dark-70 bg-dark-lg bg-blend-darken hover-bg-dark-70 transition-3 px-3 px-md-4 px-lg-10 py-6 pb-md-14 border-end position-relative"
        >
          <p class="num-font text-center fw-light fs-32 fs-lg-100 mb-4 mb-md-5">
            1
          </p>
          <h4
            class="en-font text-center fw-normal fs-6 fs-md-8 mb-d-9 mb-md-20"
          >
            Diane
          </h4>
          <h5>知識型</h5>
          <div
            class="d-flex flex-wrap justify-content-between align-items-start"
          >
            <p>學術領導/知識分享/智能問答</p>
            <img
              src="/assets/images/icon/line_end_arrow_notch.png"
              alt="arrow"
            />
          </div>
          <a href="##" class="stretched-link d-block"></a>
        </div>
      </li>
      <li class="col-6 col-md-3">
        <div
          class="bg-felix bg-dark-70 bg-dark-lg bg-blend-darken hover-bg-dark-70 transition-3 px-3 px-md-4 px-lg-10 py-6 pb-md-14 border-end position-relative"
        >
          <p class="num-font text-center fw-light fs-32 fs-lg-100 mb-4 mb-md-5">
            2
          </p>
          <h4
            class="en-font text-center fw-normal fs-6 fs-md-8 mb-d-9 mb-md-20"
          >
            Felix
          </h4>
          <h5>娛樂型</h5>
          <div
            class="d-flex flex-wrap justify-content-between align-items-start"
          >
            <p>音樂播放/語音互動/遊戲陪伴</p>
            <img
              src="/assets/images/icon/line_end_arrow_notch.png"
              alt="arrow"
            />
          </div>
          <a href="##" class="stretched-link d-block"></a>
        </div>
      </li>
      <li class="col-6 col-md-3">
        <div
          class="bg-karina bg-dark-70 bg-dark-lg bg-blend-darken hover-bg-dark-70 transition-3 px-3 px-md-4 px-lg-10 py-6 pb-md-14 border-end position-relative"
        >
          <p class="num-font text-center fw-light fs-32 fs-lg-100 mb-4 mb-md-5">
            3
          </p>
          <h4
            class="en-font text-center fw-normal fs-6 fs-md-8 mb-d-9 mb-md-20"
          >
            Karina
          </h4>
          <h5>生活型</h5>
          <div
            class="d-flex flex-wrap justify-content-between align-items-start"
          >
            <p>健康提醒/日程安排/智能家居</p>
            <img
              src="/assets/images/icon/line_end_arrow_notch.png"
              alt="arrow"
            />
          </div>
          <a href="##" class="stretched-link d-block"></a>
        </div>
      </li>
      <li class="col-6 col-md-3">
        <div
          class="bg-vito bg-dark-70 bg-dark-lg bg-blend-darken hover-bg-dark-70 transition-3 px-3 px-md-4 px-lg-10 py-6 pb-md-14 border-end position-relative"
        >
          <p class="num-font text-center fw-light fs-32 fs-lg-100 mb-4 mb-md-5">
            4
          </p>
          <h4
            class="en-font text-center fw-normal fs-6 fs-md-8 mb-d-9 mb-md-20"
          >
            Vito
          </h4>
          <h5>情感型</h5>
          <div
            class="d-flex flex-wrap justify-content-between align-items-start"
          >
            <p>情感識別/心情分析/心靈支持</p>
            <img
              src="/assets/images/icon/line_end_arrow_notch.png"
              alt="arrow"
            />
          </div>
          <a href="##" class="stretched-link d-block"></a>
        </div>
      </li>
    </ol>
    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module">
      import Swiper from "swiper/bundle";
      import { Navigation, Pagination } from "swiper/modules";

      const swiperComment = new Swiper(".comment-swiper", {
        spaceBetween: 24,
        slidesPerView: "auto",
        direction: "vertical",
        mousewheel: true,
        allowTouchMove: true,
        scrollbar: {
          el: ".swiper-scrollbar",
          draggable: true,
        },
        breakpoints: {
          768: {
            slidesPerView: "2",
            direction: "horizontal",
          },
          992: {
            slidesPerView: "3",
            direction: "horizontal",
          },
        },
      });
      const swiperIntro = new Swiper(".intro-swiper", {
        autoplay: {
          delay: 3000,
        },
        breakpoints: {
          768: {
            autoplay: {
              enabled: false,
            },
          },
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
      const swiperBgSlideSwiper = new Swiper(".bg-slide-swiper", {
        centeredSlides: true,
        speed: 3000,
        autoplay: {
          delay: 0,

          disableOnInteraction: false,
        },
        allowTouchMove: false,
        slidesPerView: "auto",
        loop: true,
      });
      const swiperBgSlideSwiperReverse = new Swiper(
        ".bg-slide-swiper-reverse",
        {
          centeredSlides: true,
          speed: 3000,
          autoplay: {
            delay: 0,
            disableOnInteraction: false,
            reverseDirection: true,
          },
          allowTouchMove: false,
          slidesPerView: "auto",
          loop: true,
        }
      );
      console.log(swiperComment);
    </script>
  </body>
</html>
